@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="arriba container">
    <h1>Index</h1>
    <p>
        <a class="btn btn-danger" type="submit" asp-page="Create">Crear</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Estudiante[0].Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estudiante[0].Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estudiante[0].Active)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Estudiante)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a class="btn btn-info" type="submit" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" type="submit" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" type="submit" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
