@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<header class="">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="http://www.uniajc.edu.co/wp-content/uploads/2016/11/logo-home.png" alt="Logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" style=" position: relative; left: 25%;">
                @if (Model.V_tema)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../TemaPages/Index">Temas</a>
                    </li>
                }
                @if (Model.V_estudiante)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../EstudiantesPages/Index">Estudiantes</a>
                    </li>
                }
                @if (Model.V_asesor)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../DocentesPages/Index">Asesores</a>
                    </li>
                }
                @if (Model.V_grupo)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../GruposPages/Index">Grupos</a>
                    </li>
                }
                @if (Model.V_integracion)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../IntegracionPages/Index">Integracion</a>
                    </li>
                }
                @if (Model.V_entrega)
                {
                    <li>
                        <a class="nav-link" asp-page="../EntregasPages/Index">Entregas</a>
                    </li>
                }
            </ul>
            <form class="form-inline" asp-page="/Logout" method="post" style="position: relative; left: 50%;">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar sesion</button>
            </form>
        </div>
    </nav>
</header>

<div class="contenedor">
    <aside class="aside-izq">
        <div class="card">
            <img class="card-img-top" src="http://www.uniajc.edu.co/wp-content/uploads/2020/04/AED-NOTICIA_Noticia.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    La Institución Universitaria Antonio José Camacho, UNIAJC,
                    gracias a la aprobación del Consejo Directivo...
                </p>
                <a href="#" class="btn btn-outline-dark">Ver mas</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="http://www.uniajc.edu.co/wp-content/uploads/2020/05/20200508-BECAS-II.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    El siguiente es el listado de los estudiantes que
                    se postularon en el periodo 2019-2...
                </p>
                <a href="#" class="btn btn-outline-dark">Ver mas</a>
            </div>
        </div>
    </aside>

    <section class="section-der">
        <article class="container" style=" position: absolute; top: 20%;">
            <h1 class="text-center">Entregas</h1>
            <dl class="row" style="position: relative; width: 100%;">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.NroEntrega)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.NroEntrega)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.Documento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.Documento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.FechaEntrega)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.FechaEntrega)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.Nota)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.Nota)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.Active)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.Active)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.Grupo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.Grupo.Tema.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Entrega.Integracion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Entrega.Integracion.Id)
                </dd>
            </dl>
            <div class="boton1">
                <form method="post">
                    <input type="hidden" asp-for="Entrega.Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    <a class="btn btn-warning" asp-page="./Index">Cancelar</a>
                </form>
            </div>
        </article>
    </section>
    <footer class="footer-aba">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://hvrecomen.firebaseapp.com/index.html">HEProyecto.com</a>
        </div>
    </footer>
</div>